.search-container {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 250px;
  border-radius: 30px;
  padding: 10px;
  color: #e7e9f0;
  background: #a592f2;
  margin-left: 20px;
  box-shadow: 1px 0 1px;
}

.search-input::placeholder {
  color: #e7e9f0;
}

.search-input:focus {
  outline: none;
}
